body{
      background:#222025;
      z-index:0;
      overflow-x: hidden;
      background: url(../img/purplehex.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      

    }
    #title{
      position:relative;
      top:5vw;
      left:8.5%;
      color:#71f;
      font-family: 'Orbitron', serif;
      font-weight:250;
      font-size:5vw;
      text-shadow:
        0 0 .25vw rgb(255,255,255,.8),
        0 0 .5vw rgb(224, 85, 200,.7),
        0 0 1vw rgb(208, 69, 190,.6),
        0 0 2vw rgb(192, 53, 180,.5),
        0 0 4vw rgb(176, 37, 160,.4),
        0 0 4.5vw rgb(160, 21, 140,.3),
        0 0 5vw rgb(144, 5, 120,.2),
        0 0 7.5vw rgb(128, 0, 100,.1),
        0 0 10vw rgb(75, 0, 50,.75);
    }

 

#line1{
  position:relative;
  top:.5vw;
  left:-1vw;
  background:#71f;
  height:.6vw;
  width:18vw;
  transform: skew(-10deg,-10deg) rotate(10deg);
}
#line2{
  position:relative;
  top:1vw;
  left:-1.4vw;
  background:#71f;
  height:.6vw;
  width:18vw;
  transform: skew(-10deg,-10deg) rotate(10deg);
}



#back{
  position:absolute;
  top:1vw;
  color:rgb(250,200,250);
  font-size:2.5vw;
  font-family: 'Orbitron', serif;
  margin-left:2.5vw;
  cursor:pointer;
}

#video{
  height:25vw;
  width:40vw;
  position:relative;
  left:7.5%;
  top:10vw;
  margin-right:5vw;
  margin-bottom:5vw;
}