@media (orientation: landscape) {
  body{
      background:#222025;
      z-index:0;
      overflow: hidden;
      background: url(../img/bg1.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      

    }
    #title{
      position:relative;
      top:5vw;
      left:12.5%;
      color:#33cc33;
      font-family: 'Orbitron', serif;
      font-weight:250;
      font-size:5vw;
      text-shadow:
        0 0 .25vw rgb(255,255,255,.8),
        0 0 .5vw rgb(108, 224, 85,.7),
        0 0 1vw rgb(92, 208, 69,.6),
        0 0 2vw rgb(76, 192, 53,.5),
        0 0 4vw rgb(60, 176, 37,.4),
        0 0 4.5vw rgb(44, 160, 21,.3),
        0 0 5vw rgb(28, 144, 5,.2),
        0 0 7.5vw rgb(12, 128, 0,.1),
        0 0 10vw rgb(1, 75, 0,.75);
    }
    #title__first{
        position:relative;
    }
    #title__last{
        position:relative;
        left:5%;
    }

    table{
      position:relative;
      left:7vw;
      top:5vw;
    }

    th{
      width:20vw;
    }

    .nav__btn{
      height:13vw;
      width:13vw;
      border-radius: 50%;
      box-shadow: 0px 0px 4vw rgb(255,0,0,.7);
      position: relative;
      overflow: hidden;
      cursor:pointer;
    }    

    .nav__img1{
      position:relative; 
      left: 50%;
      top:0vw;
      transform: translateX(-50%);
      height:auto;
      width:100%;
    }
    .nav__img2{
      position:relative; 
      left: 50%;
      top: -5%;
      transform: translateX(-50%);
      height:auto;
      width:110%;
    }
    .nav__img3{
      position:absolute;
      left: 50%;
      top:0%;
      transform: translateX(-50%);
      height:auto;
      width:190%;
      filter: brightness(500%);
    }
    .nav__film{
      position:relative; 
      height:1000%;
      width:1000%;
      top:-20vw;
      background:rgb(0,0,0,.8);
      z-index:1;
    }

    .nav__film:hover{
      background:rgb(0,0,0,0);
    }
    .nav__btn:hover{
       box-shadow: 0px 0px 1.75vw rgb(0,255,0,.75);
       transition: .3s;
    }  
    .subtitle{
      color:rgb(200,250,200);
      font-size:3vw;
      position:relative;
      left: -6%;
      text-overflow: visible;
      font-family: 'Orbitron', serif;
    }

    #power{
      position:relative;
      top:-10vw;
      left:1.5vw;
      width:5vw;
      height:5vw;
      background:rgb(90,90,100,.3);
      border-radius:50%;
      box-shadow: 0px 0px 1.5vw rgb(255,0,0,.65);
      transition-duration: 3s;
    }
    #power-inner{
      position:relative;
      top:1.75vw;
      left:1.75vw;
      width:1.5vw;
      height:1.5vw;
      background:rgb(100,100,110,0);
      border-radius:50%;
      box-shadow: 0px 0px .75vw rgb(255,0,0,.45);
      transition-duration: 3s;
    }
}

@media (orientation: portrait) {
  body{
      background:#222025;
      z-index:0;
      overflow: hidden !important;
      max-width: 100% !important;
      overflow-x: hidden !important;
      height:100vh;
      background: url(../img/bg1.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    }
    #title{
      position:relative;
      top:18vw;
      left:12.5%;
      color:#33cc33;
      font-family: 'Orbitron', serif;
      font-weight:250;
      font-size:15vw;
      width:40vw;
      text-shadow:
        0 0 1vw rgb(255,255,255,.8),
        0 0 2vw rgb(108, 224, 85,.7),
        0 0 4vw rgb(92, 208, 69,.6),
        0 0 8vw rgb(76, 192, 53,.5),
        0 0 16vw rgb(60, 176, 37,.4),
        0 0 18vw rgb(44, 160, 21,.3),
        0 0 20vw rgb(28, 144, 5,.2),
        0 0 30vw rgb(12, 128, 0,.1),
        0 0 40vw rgb(1, 75, 0,.75);
    }
    #title__first{
        position:relative;
        width:40vw;
    }
    #title__last{
        position:relative;
        left:5%;
        width:40vw;
    }
    table{
      position:relative;
      left:10vw;
      top:20vw;
      width:80vw;
    }

    th{
      width:28vw;
    }

    .nav__btn{
      height:20vw;
      width:20vw;
      border-radius: 50%;
      box-shadow: 0px 0px 4vw rgb(255,0,0,.7);
      position: relative;
      overflow: hidden;
      cursor:pointer;
    }    

    .nav__img1{
      position:relative; 
      left: 50%;
      top:0vw;
      transform: translateX(-50%);
      height:auto;
      width:100%;
    }
    .nav__img2{
      position:relative; 
      left: 50%;
      top: -1vw;
      transform: translateX(-50%);
      height:auto;
      width:110%;
    }
    .nav__img3{
      position:absolute;
      left: 50%;
      top:0%;
      transform: translateX(-50%);
      height:auto;
      width:190%;
      filter: brightness(500%);
    }
    .nav__film{
      position:relative; 
      height:1000%;
      width:1000%;
      top:-40vw;
      background:rgb(0,0,0,.4);
      z-index:1;
    }

    .nav__film:hover{
      background:rgb(0,0,0,0);
    }
    .nav__btn:hover{
       box-shadow: 0px 0px 1.75vw rgb(0,255,0,.75);
       transition: .3s;
    }  
    .subtitle{
      color:rgb(200,250,200);
      font-size:5vw;
      position:relative;
      top:2vw;
      left: -4%;
      text-overflow: visible;
      font-family: 'Orbitron', serif;
    }
    #power{
      position:relative;
      top:-33vw;
      left:5vw;
      width:11vw;
      height:11vw;
      background:rgb(90,90,100,.3);
      border-radius:50%;
      box-shadow: 0px 0px 1.5vw rgb(255,0,0,.65);
      transition-duration: 3s;
    }
    #power-inner{
      position:relative;
      top:3vw;
      left:3vw;
      width:5vw;
      height:5vw;
      background:rgb(100,100,110,0);
      border-radius:50%;
      box-shadow: 0px 0px .75vw rgb(255,0,0,.45);
      transition-duration: 3s;
    }
}