body{
      background:#222025;
      z-index:0;
      overflow-x: hidden;
      background: url(../img/redHex1.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      

    }
    #title{
      position:relative;
      top:5vw;
      left:8.5%;
      color:#cc3333;
      font-family: 'Orbitron', serif;
      font-weight:250;
      font-size:5vw;
      text-shadow:
        0 0 .25vw rgb(255,255,255,.8),
        0 0 .5vw rgb(224, 85, 104,.7),
        0 0 1vw rgb(208, 69, 92,.6),
        0 0 2vw rgb(192, 53, 76,.5),
        0 0 4vw rgb(176, 37, 60,.4),
        0 0 4.5vw rgb(160, 21, 44,.3),
        0 0 5vw rgb(144, 5, 28,.2),
        0 0 7.5vw rgb(128, 0, 12,.1),
        0 0 10vw rgb(75, 0, 1,.75);
    }

 

#line1{
  position:relative;
  top:.5vw;
  left:-1vw;
  background:rgb(190,40,50);
  height:.6vw;
  width:25vw;
  transform: skew(-10deg,-10deg) rotate(10deg);
}
#line2{
  position:relative;
  top:1vw;
  left:-1.4vw;
  background:rgb(190,40,50);
  height:.6vw;
  width:25vw;
  transform: skew(-10deg,-10deg) rotate(10deg);
}


.hexagon {
  position: absolute;
  top:20.25vw;
  left:24.25vw;
  width: 20vw; 
  height: 11.5vw;
  background-color: rgb(190,40,50);
  border-left: solid 2px transparent;
  border-right: solid 2px transparent;
  transform:rotate(30deg);
}

.hexagon:before,
.hexagon:after,
.hexagon2:before,
.hexagon2:after,
.hexagon3:before,
.hexagon3:after,
.hexagon4:before,
.hexagon4:after,
.hexagon5:before,
.hexagon5:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 14.1vw;
  height: 14.1vw;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 2.7vw;
}

.hexagon:before,
.hexagon2:before,
.hexagon3:before,
.hexagon4:before,
.hexagon5:before {
  top: -7.2vw;
  left:2.8vw;
  border-top: solid .28vw transparent;
  border-right: solid .28vw transparent;
}

.hexagon:after,
.hexagon2:after,
.hexagon3:after,
.hexagon4:after,
.hexagon5:after {
  top: 4.2vw;
  left:2.85vw;
  border-bottom: solid .28vw transparent;
  border-left: solid .28vw transparent;
}



.hexagon2 {
  position: absolute;
  top:30.5vw;
  left:42.25vw;
  width: 20vw; 
  height: 11.5vw;
  background-color: rgb(190,40,50);
  border-left: solid 2px transparent;
  border-right: solid 2px transparent;
  transform:rotate(30deg);
}

.hexagon3 {
  position: absolute;
  top:51vw;
  left:18.5vw;
  width: 20vw; 
  height: 11.5vw;
  background-color: rgb(190,40,50);
  border-left: solid 2px transparent;
  border-right: solid 2px transparent;
  transform:rotate(30deg);
}
.hexagon4 {
  position: absolute;
  top:71.5vw;
  left:18.5vw;
  width: 20vw; 
  height: 11.5vw;
  background-color: rgb(190,40,50);
  border-left: solid 2px transparent;
  border-right: solid 2px transparent;
  transform:rotate(30deg);
}
.hexagon5 {
  position: absolute;
  top:61.125vw;
  left:59.75vw;
  width: 20vw; 
  height: 11.5vw;
  background-color: rgb(190,40,50);
  border-left: solid 2px transparent;
  border-right: solid 2px transparent;
  transform:rotate(30deg);
}




#banner{
  background:rgb(0,0,0,.65);
  color:red;
  position:relative;
  top:-5.9vw;
  left:4.45vw;
  font-size:1.75vw;
  transform:rotate(-30.5deg);
  text-align:center;
  font-family: 'Exo 2', serif;
  padding-bottom: 2vw;
  text-decoration:none;
}


.hexagon__text1{
    position: relative;
    z-index: 1000;
    width: 60%;
    text-align: center;
    transform:rotate(-30deg);
    color:white;
    top:-2.75vw;
    left:.25vw;
    font-size:1.15vw;
    font-family: 'Exo 2', serif;
}
.hexagon__text2{
    position: relative;
    z-index: 1000;
    width: 95%;
    text-align: center;
    transform:rotate(-30deg);
    color:white;
    top:-3.75vw;
    left:0vw;
    font-size:1.15vw;
    font-family: 'Exo 2', serif;
}
.hexagon__text3{
    position: relative;
    z-index: 1000;
    width: 70%;
    text-align: center;
    transform:rotate(-30deg);
    color:white;
    top:-4.75vw;
    left:5.9vw;
    font-size:1.15vw;
    font-family: 'Exo 2', serif;
}
.hexagon__text1-2{
    position: relative;
    z-index: 1000;
    width: 60%;
    text-align: center;
    transform:rotate(-30deg);
    color:white;
    top:-3vw;
    left:.25vw;
    font-size:1.15vw;
    font-family: 'Exo 2', serif;
}
.hexagon__text2-2{
    position: relative;
    z-index: 1000;
    width: 95%;
    text-align: center;
    transform:rotate(-30deg);
    color:white;
    top:-4.1vw;
    left:1vw;
    font-size:1.15vw;
    font-family: 'Exo 2', serif;
}
.hexagon__text3-2{
    position: relative;
    z-index: 1000;
    width: 70%;
    text-align: center;
    transform:rotate(-30deg);
    color:white;
    top:-5vw;
    left:7vw;
    font-size:1.15vw;
    font-family: 'Exo 2', serif;
}

.hexagon__text1-3{
    position: relative;
    z-index: 1000;
    width: 60%;
    text-align: center;
    transform:rotate(-30deg);
    color:white;
    top:-3vw;
    left:.25vw;
    font-size:1.15vw;
    font-family: 'Exo 2', serif;
}
.hexagon__text2-3{
    position: relative;
    z-index: 1000;
    width: 95%;
    text-align: center;
    transform:rotate(-30deg);
    color:white;
    top:-4vw;
    left:.2vw;
    font-size:1.15vw;
    font-family: 'Exo 2', serif;
}
.hexagon__text3-3{
    position: relative;
    z-index: 1000;
    width: 70%;
    text-align: center;
    transform:rotate(-30deg);
    color:white;
    top:-5vw;
    left:6.5vw;
    font-size:1.15vw;
    font-family: 'Exo 2', serif;
}


.hexagon__text1-4{
    position: relative;
    z-index: 1000;
    width: 60%;
    text-align: center;
    transform:rotate(-30deg);
    color:white;
    top:-3vw;
    left:.25vw;
    font-size:1.15vw;
    font-family: 'Exo 2', serif;
}
.hexagon__text2-4{
    position: relative;
    z-index: 1000;
    width: 95%;
    text-align: center;
    transform:rotate(-30deg);
    color:white;
    top:-3.75vw;
    left:-.5vw;
    font-size:1.15vw;
    font-family: 'Exo 2', serif;
}
.hexagon__text3-4{
    position: relative;
    z-index: 1000;
    width: 70%;
    text-align: center;
    transform:rotate(-30deg);
    color:white;
    top:-6vw;
    left:7vw;
    font-size:1.15vw;
    font-family: 'Exo 2', serif;
}

.hexagon__text1-5{
    position: relative;
    z-index: 1000;
    width: 60%;
    text-align: center;
    transform:rotate(-30deg);
    color:white;
    top:-2.5vw;
    left:.75vw;
    font-size:1.15vw;
    font-family: 'Exo 2', serif;
}
.hexagon__text2-5{
    position: relative;
    z-index: 1000;
    width: 95%;
    text-align: center;
    transform:rotate(-30deg);
    color:white;
    top:-3.5vw;
    left:.25vw;
    font-size:1.15vw;
    font-family: 'Exo 2', serif;
}
.hexagon__text3-5{
    position: relative;
    z-index: 1000;
    width: 70%;
    text-align: center;
    transform:rotate(-30deg);
    color:white;
    top:-4vw;
    left:5vw;
    font-size:1.15vw;
    font-family: 'Exo 2', serif;
}



.hexagon__pic {
  position:absolute;
  top:24vw;
  left:7.1vw;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  margin: 10px auto;
  height: 23vw;
  width: 19.5vw; 
  transform:rotate(30deg);    
  overflow:hidden;
}

#hexagon--inside{
  position:relative;
  top:0vw;
  left:-3vw;
  transform:rotate(-30deg); 
  height:100%;
  width:125%;
}

.hexagon__pic2 {
  position:absolute;
  top:13.8vw;
  left:60.25vw;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  margin: 10px auto;
  height: 23vw;
  width: 19.5vw; 
  transform:rotate(30deg);    
  overflow:hidden;
  cursor:pointer;
}

#hexagon--inside2{
  position:relative;
  top:1vw;
  left:-7vw;
  transform:rotate(-30deg); 
  height:100%;
  width:180%;
}

.hexagon__pic3 {
  position:absolute;
  top:54.75vw;
  left:36.5vw;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  margin: 10px auto;
  height: 23vw;
  width: 19.5vw; 
  transform:rotate(30deg);    
  overflow:hidden;
}

#hexagon--inside3{
  position:relative;
  top:1vw;
  left:-2vw;
  transform:rotate(-30deg); 
  height:100%;
  width:120%;
}

.hexagon__pic4 {
  position:absolute;
  top:75vw;
  left:60.125vw;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  margin: 10px auto;
  height: 23vw;
  width: 19.5vw; 
  transform:rotate(30deg);    
  overflow:hidden;
}

#hexagon--inside4{
  position:relative;
  top:1vw;
  left:-2vw;
  transform:rotate(-30deg); 
  height:100%;
  width:120%;
}

#back{
  position:absolute;
  top:1vw;
  color:rgb(250,200,200);
  font-size:2.5vw;
  font-family: 'Orbitron', serif;
  margin-left:2.5vw;
  cursor:pointer;
}